* {
    margin: 0;
    padding: 0;
   
}

html, body{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
}
.container{
height: 100%;
display: flex;
flex-direction: column;
max-width: 950px;
width: 100%;
}

header, footer {
    height: 70px;
    background-color: coral;
}

main{
    flex:1;
    display: flex;
    margin: 0 -10;
}
.box{
    height: calc(100% - 20px);
    background-color:green;
    width: 33.3%;
    margin: 10px;
}
.blue{
    background-color: cadetblue;
}
.red{
    background-color: burlywood
}
.green{
    background-color: fuchsia
}